# 系统信息
system:
  device:
    device: 'cuda'
  
  tensorboard:
    tb_mode: False

  data:
    # 数据集类型
    data_type: 'blender'
    # 数据集路径
    data_root: "/home/a_datasets0/nerf_synthetic/"
    data_name: "lego"
    img_scale: 4
    # 位姿是否进行pca
    pca_mode: False
    # 是否使用白色背景
    white_background: True

  output_params:
    # 输出路径
    output_root: "output/pca_mode"

  train_test_params:
    # 渲染模型路径
    test_model_path: "/home/sulutong/3D-NeRF-test/NeRF_slt_v2.0/output/sample-64_mlp-3-128-1/lego/weights/lego-step-20000.ckpt"
    # 批处理大小
    batch_size: 5000
    # 学习率
    lr_max: 0.0005
    lr_min: 0.0001
    opt_type: 'cycle' 
    weight_decay: 0.0004
    # 损失函数权重
    rgb_loss_weight: 1.0
    inter_loss_weight: 0.01
    dist_loss_weight: 0.005
    hash_loss_weight: 10
    prop_pulse_width: [0.03]

  steps:
    # 训练轮数
    num_steps: 100000
    # 每隔几轮保存模型
    save_steps: 10000
    # 每隔几轮进行一次验证
    val_steps: 500

# 模型信息
model:
  # 采样点距离
  near: 2.0
  far: 6.0
  # prop阶段
  prop:
    samples: [64]
    encoding:
      # 哈希网格的层数，L
      num_level: [8]
      # 每层哈希表的特征宽度，F
      level_dim: [2]
      # 最低层哈希网格的分辨率
      base_resolution: [16]
      # 各层哈希网格分辨率的倍数
      level_scale: [2]
      # 每层哈希网格的特征长度对2的对数的最大值 即每层哈希网格对应的哈希表长度对2的对数的最大值
      log2_hashmap_size: [21]
    mlp:
      MLP_width: [64]

  # render阶段
  render:
    samples: [64]
    encoding:
      # 哈希网格的层数，L
      num_level: [10]
      # 每层哈希表的特征宽度，F
      level_dim: [4]
      # 最低层哈希网格的分辨率
      base_resolution: [16]
      # 各层哈希网格分辨率的倍数
      level_scale: [2]
      # 每层哈希网格的特征长度对2的对数的最大值 即每层哈希网格对应的哈希表长度对2的对数的最大值
      log2_hashmap_size: [21]
      # 方向编码频率数
      freqs_view: 4
    mlp:
      MLP_depth: [3]
      MLP_width: [128]
      MLP_skips: [[1]]

    