# 系统信息
system:
  device:
    device: 'cuda'
  
  tensorboard:
    tb_mode: True

  data:
    # 数据集类型
    data_type: 'blender'
    # 数据集路径
    data_root: "/home/a_datasets0/nerf_synthetic/"
    # data_root: "/home/a_datasets0/nerf_llff_data"
    # data_root: "/home/a_datasets0/360_v2"
    data_name: "lego"
    img_scale: 4
    # 位姿是否进行pca
    pca_mode: False
    # 是否使用白色背景
    white_background: True

  output_params:
    # 输出路径
    output_root: "output/origin"

  train_test_params:
    # 渲染模型路径
    test_model_path: "/home/sulutong/3D-NeRF-test/NeRF_slt/output/weight-thre-0.01/lego/weights/lego-step-190000.ckpt"
    # 批处理大小
    batch_size: 7000
    # 是否仅用粗渲染
    only_coarse: False
    # 学习率
    learning_rate: 0.0005
    # 权重衰减
    learning_rate_decay: 500
    # L2正则项
    weight_decay: 0.0004

  steps:
    # 训练轮数
    num_steps: 200000
    # 每隔几轮保存模型
    save_steps: 10000
    # 每隔几轮进行一次验证
    val_steps: 500
    # 每隔几轮可视化一次光线
    rays_visul: False
    rays_step: 100

# 模型信息
model:
  encoding:
    # 位置编码长度
    freqs_xyz: 10
    # 方向编码长度
    freqs_view: 4

  nerf:
    # MLP是否使用视角方向
    use_view_dirs: True
    # 采样点距离
    near: 1.0
    far: 8.0
    # 粗MLP网络层数
    coarse_MLP_depth: 4
    # 粗MLP网络宽度
    coarse_MLP_width: 128
    # 粗MLP跳跃连接位置
    coarse_MLP_skips: [2]
    # 粗采样点数
    num_coarse_samples: 128
    # 细MLP网络层数
    fine_MLP_depth: 8
    # 细MLP网络宽度
    fine_MLP_width: 256
    # 细MLP跳跃连接位置
    fine_MLP_skips: [4]
    # 细采样阈值
    fine_weight_threshold: 0.001
    # 细采样扩展范围
    fine_samples_scale: 5
    # 细采样过程中体密度默认值
    sigmas_default: -20.0


  